<a href="https://colab.research.google.com/github/Pulvii/Tec-Soporte/blob/main/csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd   #importamos la libreria pandas para poder leer el csv
import numpy as np


def arreglar_columnas(columnas):
  for i in range(len(columnas)):
      columnas[i] = columnas[i].replace(" ","")
  return columnas

def resolver_espacios(valor): #Funcion que elimina el espacio de delante y si el valor es nan o vacio, le pone None para que el dropna lo saque
    valor = str(valor)
    if valor[0] == ' ':
        valor = valor[1:]
    if valor == '':
        valor = np.nan
    if valor == 'nan':
        valor = np.nan
    return valor


csv = pd.read_csv("./sample_data/suicide_rates_1990-2022.csv")
csvColumnas = list(csv.columns)

csv.columns = arreglar_columnas(csvColumnas) # se le aplica la funcion a la lista de columnas

csv = csv.applymap(resolver_espacios)

# csv["Altura"] = csv["Altura"].apply(resolver_altura)

# csv = csv.fillna("-")

csv.dropna(inplace=True) # elimina las filas que contengan valores vacios
# csv.dropna(how="all") # elimina las filas si todos los valores son nulos

# csv.to_csv('./nuevo.csv')
print(csv)



# dataframe
dataframe = {'altura': [1.4, np.nan, np.nan, np.nan],
        'edad': [28, 23, 35, 31],
        'genero': ['M', 'F', 'M', 'F']
        }
df = pd.DataFrame(dataframe)
print(df)

    RegionCode RegionName CountryCode CountryName  Year   Sex     AgeGroup  \
0           EU     Europe         ALB     Albania  1992  Male   0-14 years
1           EU     Europe         ALB     Albania  1992  Male   0-14 years
2           EU     Europe         ALB     Albania  1992  Male   0-14 years
3           EU     Europe         ALB     Albania  1992  Male   0-14 years
4           EU     Europe         ALB     Albania  1992  Male  15-24 years
..         ...        ...         ...         ...   ...   ...          ...
160         EU     Europe         ALB     Albania  1996  Male   0-14 years
161         EU     Europe         ALB     Albania  1996  Male   0-14 years
162         EU     Europe         ALB     Albania  1996  Male   0-14 years
163         EU     Europe         ALB     Albania  1996  Male   0-14 years
164         EU     Europe         ALB     Albania  1996  Male  15-24 years

           Generation SuicideCount CauseSpecificDeathPercentage  \
0    Generation Alpha            0                          0.0
1    Generation Alpha            0                          0.0
2    Generation Alpha            0                          0.0
3    Generation Alpha            0                          0.0
4        Generation Z            5                   3.40136054
..                ...          ...                          ...
160  Generation Alpha            0                          0.0
161  Generation Alpha            0                          0.0
162  Generation Alpha            0                          0.0
163  Generation Alpha            2                   1.96078431
164      Generation Z            5                   3.37837838

    DeathRatePer100K Population           GDP GDPPerCapita  \
0                0.0    3247039   652174990.8  200.8522198
1                0.0    3247039   652174990.8  200.8522198
2                0.0    3247039   652174990.8  200.8522198
3                0.0    3247039   652174990.8  200.8522198
4         3.53107345    3247039   652174990.8  200.8522198
..               ...        ...           ...          ...
160              0.0    3168033  3199640815.0  1009.977111
161              0.0    3168033  3199640815.0  1009.977111
162              0.0    3168033  3199640815.0  1009.977111
163       1.09349371    3168033  3199640815.0  1009.977111
164       3.69822485    3168033  3199640815.0  1009.977111

    GrossNationalIncome GNIPerCapita InflationRate EmploymentPopulationRatio
0           906184212.3         1740   226.0054213                    45.315
1           906184212.3         1740   226.0054213                    45.315
2           906184212.3         1740   226.0054213                    45.315
3           906184212.3         1740   226.0054213                    45.315
4           906184212.3         1740   226.0054213                    45.315
..                  ...          ...           ...                       ...
160        2823912223.0         3050   12.72547781                    53.039
161        2823912223.0         3050   12.72547781                    53.039
162        2823912223.0         3050   12.72547781                    53.039
163        2823912223.0         3050   12.72547781                    53.039
164        2823912223.0         3050   12.72547781                    53.039

[157 rows x 18 columns]
   altura  edad genero
0     1.4    28      M
1     NaN    23      F
2     NaN    35      M
3     NaN    31      F